


<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Réinitialisation de mot de passe</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/public/static/vendor/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/static/vendor/css/font-awesome.min.css">
	<link rel="stylesheet" href="/public/static/css/style.css">
	<!-- <style>
		.themed-btn{
			border: unset;
			background-color: <%= project_color %>;
		}
	</style> -->
</head>

<body id="app">
	
	<div class="container mt-5 mb-5">
		<div class="row d-flex justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="text-left logo p-2 px-5" style="background-color: <%= project_color %>"> <img src="/assets/<%= project_logo %>" width="50"> <%=project_name%> </div>
					<div class="invoice p-5">
						<h5>Réinitialisation de mot de passe</h5> 
						<form @submit.prevent="handleSubmit">
							<div class="form-group">
							  <label for="exampleInputPassword1">Mot de passe</label>
							  <input type="password" class="form-control" placeholder="Mot de passe" name="password" v-model="password">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Confirmation du mot de passe</label>
								<input type="password" class="form-control" placeholder="Confirmation du mot de passe" name="passwordConf" v-model="passwordConf">
							</div>
							<input type="hidden" name="email" v-model="email">
							<input type="hidden" name="verificationCode" v-model="verificationCode">
							<br/>
							<div v-if="errors.length != 0" class="alert alert-danger">
								<ul>
									<li v-for="(error, index) in errors" :key="index">
										{{error}}
									</li>
								</ul>
							</div>
							<br/>
							
							<div class="alert alert-success" v-if="success!=null">
								{{success}}
							</div>
							<button type="submit" class="btn btn-success themed-btn">Réinitialiser</button>
						</form>
					</div>
					<div class="d-flex justify-content-between footer p-3" style="background-color: <%=project_color%>"> <span><a href="#"> </a></span> <span></span> </div>
				</div>
			</div>
		</div>
	</div>
	<script src="/public/static/vendor/js/jquery.min.js"></script>
	<script src="/public/static/vendor/js/bootstrap.bundle.min.js"></script>
	<script src="/public/static/vendor/js/vue.js"></script>
	<script>
		// const Vue = window.vue;
		Vue.createApp({
		  data() {
			const urlParams = new URLSearchParams(window.location.search);
			const verificationCode = urlParams.get("verificationCode");
			const email = urlParams.get("email");
			return {
				errors: [],
				success: null,
				password: "",
				passwordConf: "",
				email,
				verificationCode
			}
		  },
		  methods: {
			async handleSubmit(){
				
				if(this.password != this.passwordConf){
					this.errors = []
					this.errors.push("Les deux mots de passe ne correspondent pas")
					return;
				}else{
					this.errors = []
					try {
						const response = await fetch("/user/passwordReset", 
							{ 
							headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json'
							},
							method: "POST", 
							body: JSON.stringify(
								{
									email: this.email,
									password: this.password,
									verificationCode: this.verificationCode
								}
							)
						})
						const responseJson = await response.json();
						if(response.status == 200){
							this.success = responseJson.message
							this.password = ""
							this.passwordConf = ""
							return;
						}
						this.errors.push(responseJson.errors[0].message)
						
					} catch (error) {
						console.log(error);
						this.errors.push("Nous avons rencontré une erreur inattendue lors de l'opération")
					}
					
					
					
				}
				
			}
		  }
		}).mount('#app')
	</script>
</body>





